@charset "utf-8";
@media (min-width:1280px) {
/**************************** side_bar *********************/
body {
  display: grid;
  grid-template: 4vh 96vh / 15vw 84vw;
}

main .box3, 
main .box4, 
main .box7, 
main .box10 {
  display: block;
}

.side_bar .top .item,
.side_bar .bottom{
  display: block;
}
  .side_bar {
    background-color: #1c1c1c;
    color: #fff;
    height: 100vh; width: 15vw;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    
    overflow: hidden;
    position: fixed;

    grid-template-rows: repeat(6, 1fr);
    display: block;
    padding: 0;
  
   }
   .side_bar .top {
    font-size: 13px;
    margin: 34px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
  
   .side_bar .menu {
    flex-direction: column;
    margin: 126px auto;
  
    font-size: 1.6rem;
   }
   .side_bar .menu li {
    margin: 0 auto;
    width: 180px;
    border-bottom: #fff dotted 2px;
   }
   .side_bar .menu li a{
    color: #fff;
    display: block;
    padding: 10px;
  
   }
   .side_bar .menu li i {
    width: 50px;
    text-align: center;
   }
   .side_bar .bottom {
    position: absolute;
    bottom: 10px; left: 50%;
    transform: translate(-50%);
   }
   .side_bar .bottom_txt {
    display: flex;
    font-size: 1.2rem;
   }
   .side_bar .bottom_txt li{
    padding: 0 10px;
   }
   .side_bar .bottom_txt li:first-child {
    border-right: #fff 1px solid;
   }
   .side_bar .bottom .sns_icon {
    display: flex;
    font-size: 2.2rem;
   }
   .side_bar .bottom .sns_icon li {
    padding: 0 10px;
   }


/************************ 최상단 메뉴 ***********************/
  nav {
    grid-column: 2;
  }
   nav .menu1 {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    font-weight: bold;
  }
   nav ul li:nth-child(1) {grid-column: 1;}
   nav ul li:nth-child(3) {grid-column: 9;}
  
    nav .menu2 {
      display: none;
    }

    /******************* 메인페이지 *************************/
  
    main {
      grid-row: 2;
      grid-column: 2;
    
      display: grid;
      grid-template: repeat(4, 300px) / repeat(5, 1fr);
    }
  
    main .box1 {
      grid-row: 1 / 3;
      grid-column: 1 / 4;
    }
   
    main .box2 {
      grid-column: 4 / 6;
    }
    main .box3 img {
      animation: ani1 infinite 5s linear;
    }
    main .box7 {
      grid-column: 4;
    }
    
    
    main .box6 {
      grid-column: 2 / 4;
    }
    
    main .box9 {
      grid-column: 1 / 3;
    }
    main .box10 {
      grid-column: 3;
    }
    main .box10 p {
      bottom: 10px; left: 20px;
    transform: translate(0);
    }
    
    main .box12 {background: url(./images/size/box12_1.png) no-repeat;}
    
    @keyframes ani1 {
      100% {
        transform: rotate(360deg);
      }
    }
}
